{% extends "../main/base.html" %}

{% block content %}
    <h1 class="center-h">Log In page</h1>
    <div class="form-display">
        {% include "../_helper/form_output.html" with form=form %}
        <div style="display: flex; justify-content: center; margin-top: 20px;">
            <div style="display: flex; justify-content: center">
                <p style="border-right: #252525 1px solid;">Don't have an account?
                    <a style="padding-left: 5px;" href="{% url 'sign_up' %}" class="btn btn-link">Sign up</a>
                </p>
                <p style="padding-left: 12px;">Forgot password?
                    <a style="padding-left: 5px;" href="{% url 'sign_up' %}" class="btn btn-link">Change</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}