{% extends "./base.html" %}

{% block content %}
    <h1 class="center-h">Hangover Main Page</h1>
    {% if user.is_authenticated %}
    <h2> Settings: </h2>
        <ul>
        <li>
            <p><b>Username:</b> {{ user.username }}</p>
        </li>
        <li>
            <p><b>Email:</b> {{ user.email }}</p>
        </li>
        <li>
            <p><b>First name:</b> {{ user.first_name }}</p>
        </li>
        <li>
            <p><b>Last name:</b> {{ user.last_name }}</p>
        </li>

        <li>
            <a href="{% url 'update_user_settings' %}"> Update account settings </a>
        </li>
    </ul>
    {% else %}

        <div id="main-page-content" style="text-align: center; margin-top: 200px;">
            <h2>Welcome to Hangover!</h2>
            <p style="font-size: 20px;">Please <a href="{% url 'log_in' %}">log in</a> or <a href="{% url 'sign_up' %}">sign up</a> to access your
                account and explore more features.</p>
        </div>
    {% endif %}

{% endblock content %}
