{% extends "../main/base.html" %}
{% load static %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <link rel="stylesheet" href="{% static 'CSS/RepoDetail.css' %}">
{% endblock head %}


{% block content %}
    <div id="workspace">

        <div class="sidebar_tree no-select" id="repo-tree">
            <div class="dropdown" id="dropdown">
                <div class="dropdown-label">☰ branches</div>
                <div class="dropdown-content">
                    <div href="?branch={{ selected_branch.name }}" id="selected-branch-option">{{ selected_branch.name }}</div>
                    {% for branch in all_branches %}
                        <a href="?branch={{ branch.name }}">{{ branch.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <ul style="margin-top: 5px;">
                {% include "analyzer/_helper/tree_node.html" with tree=file_tree current_path="" %}
            </ul>
        </div>

        <div class="code-box">
            <pre class="line-numbers" id="pre-code-box">
                <code id="code" >
                </code>
            </pre>
        </div>

        <div class="content">
            <h1>WorkSpace</h1>
            <form id="prompt-form" action="{% url 'api_analyze_repo' %}" method="post">
                {% csrf_token %}
                <textarea id="description"></textarea>
                <input type="hidden" name="selected_files" id="selected_files">
                <button id="submit-prompt">Send</button>
            </form>
            <ul id="questions">
                {% for question in  questions %}
                    <li question-id="{{ question.id }}" class="question-wrapper">
                        <div class="d-flex flex-row-reverse question-text">
                            <div class="del-button" q-id="{{ question.id }}">del</div>
                            <div> {{ question|safe }} </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script>
        const urlTokens = "{{ repository.url }}".split("/");
        const innerApiUrl = "{% url 'api_get_repo_content' repository.id %}";
        const questionDetailUrl = "{% url 'api_get_question' %}";
        const repoID = "{{ repository.id }}";
        const repo_owner = urlTokens.at(-2);
        const repo_name = urlTokens.at(-1);
        const selectedBranchName = "{{ selected_branch.name }}";
        const selectedBranchID = "{{ selected_branch.id }}";
        const questionDeleteUrl = "{% url 'api_delete_question' %}";
    </script>
    <script src="{% static 'JavaScript/RepoDetail.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>

    </script>
{% endblock script %}



